@using ConNhaNong.Models;

@model Tuple<product, Report>

@{
    ViewBag.Title = Model.Item1.name_product;
}
<style>
    .img-home, .img-contact, img-product {
        display: none;
    }
</style>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Báo cáo - @Model.Item1.name_product</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group hidden">
                    @Html.LabelFor(model => model.Item2.id_product, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Item2.id_product, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Item1.ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Item1.name_product, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Item1.name_product, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Item1.ID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item2.Email_send, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Item2.Email_send, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Item2.Email_send, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Item2.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Item2.Notes, new { @class = "form-control", @rows = 10, @cols = 20 })
                        @Html.ValidationMessageFor(model => model.Item2.Notes, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Xác nhận" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-2"></div>
</div>


