@model ConNhaNong.Models.product

@{
    ViewBag.Title = "Details";
}
<script src="https://kit.fontawesome.com/47800f97b7.js" crossorigin="anonymous"></script>
<style>
    .img-home, .img-contact {
        display: none;
    }
</style>
<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "hidden", @readonly = "readonly" } })
        <div class="ima">
            <img class="card-img-top img-fluid" src="~/Images/@Model.file_names" alt="Card image cap" width="400" />
        </div>

        <dt>
            @Html.DisplayNameFor(model => model.name_product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_product)
        </dd>
        <dt>
            Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_category)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            Miêu tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descriptions)
        </dd>
    </dl>

    <div>
        @Html.ActionLink("Back to List", "Manager_product")
    </div>
</div>
