@model IEnumerable<ConNhaNong.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<div class="form-horizontal">
    <h4>Giỏ Hàng</h4>
    <hr />
    @foreach (var item in Model)
    {
        using (Html.BeginForm("Modify", "Product"))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => item.Id)

            <div class="form-group">
                <div class="col-md-10">
                    <h3>@item.Name_Product</h3>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => item.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => item.Amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <img class="card-img-top img-fluid" src="~/Images/@item.Image" alt="Card image cap" width="350" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <h3>Thành tiền: @item.Total</h3>
                </div>
            </div>
            <div class="form-group">
                @Html.ActionLink("Xem sản phẩm", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Xóa", "DeleteProctInCart", new { id = item.Id }, new { @class = "btn btn-alert" })
                <input type="submit" value="Xác nhận" class="btn btn-success" />
            </div>
        }
    }
    </div>
