@model ConNhaNong.Models.Category

@{
    ViewBag.Title = "Create";
}
<style>
    .img-home, .img-contact, img-product {
        display: none;
    }
</style>

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.category_id, "Loại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.category_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.category_desc, "Miêu tả", htmlAttributes: new { @class = "control-label col-md-2", @maxlength = "600" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.category_desc, new { htmlAttributes = new { @class = "form-control descArea" }, @style = "width: 100%;max-width: 100%;height: 100px;" })
                @Html.ValidationMessageFor(model => model.category_desc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
