@model IEnumerable<ConNhaNong.Models.Category>

@{
    ViewBag.Title = "Loại sản phẩm";
}
<style>
    .img-home, .img-contact, img-product {
        display: none;
    }
</style>
<h2>Loại sản phẩm</h2>

<p>
    @Html.ActionLink("Tạo Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Loại
        </th>
        <th>
            Miêu tả
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.category_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category_desc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.category_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.category_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.category_id })
            </td>

        </tr>
    }


</table>    <div>
    @Html.ActionLink("Back to Home", "../Home/About")
</div>
