@model IEnumerable<websiteConNhaNong.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Products list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Products name
        </th>
        <th>
            Price
        </th>
        <th>
            Description
        </th>
        <th>
            Picture
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.Price
        </td>
        <td>
            @if (item.Description != null && item.Description.Length > 100)
            {
                @item.Description.Substring(0, 100)
            }
            else
            {
                @item.Description
            }
        </td>
        <td>
            <img src="@Url.Action("Picture", new {item.id })" width="37px" height="40px" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
